h1{
  font-size: 1.5rem;
  }
  h2{
  font-size: 1.2rem;
  }
.main_bg {
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #021b79, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: calc(97vh - 60px);
  height: auto;
  width: 100%;
}
.btn_active {
  background-color: rgb(24, 24, 24);
  color: rgb(255, 255, 255);
}

.show_numbers {
  height: 85%;
}
.show_options {
  margin: auto 0px 0px 0px;
}

.numbers {
  /* background: #e3e3e3; */
  background: white;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #292929;
  display: inline-block;
  font-weight: 900;
  text-align: center;
  /* font-family: "Heebo", sans-serif; */
  font-family: "Roboto", sans-serif;

  line-height: 120px;
  width: 120px;
  font-size: 70px;
}

.txt_padrao_light {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
}
.txt_padrao_dark {
  font-family: "Heebo", sans-serif;
  font-weight: 200;
  color: rgb(24, 24, 24);
}
.nome_loteria {
  font-family: "Heebo", sans-serif;
  font-style: oblique;
  font-weight: 600;
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.8);
  /* text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3); */
}
.nome_loteria > img {
  height: 70px;
}
.icons {
  height: 40px;
  width: 40px;
}
.txt_acumulou {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  /* color: #052b4a; */
  color: #a1faf9;
}
.txt_data,
.txt_premio {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #a1faf9;
}
.txt_premio {
  font-weight: 600;
  font-size: 2rem;
}
.dezena_active {
  background-color: white;
  color: rgb(67, 67, 67);
}
.dezena_active_dark {
  background-color: black;
  color: rgb(255, 255, 255);
}
.limitar_largura {
  max-width: 1200px;
  margin: 0 auto;
}
.limitar_largura2 {
  max-width: 1000px;
  margin: 0 auto;
}
.padding_large {
  padding-top: 10%;
}
.exibir_numeros {
  display: flex;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}
.exibir_numeros > div {
  flex: 1 1 0px;
}

#jogo {
  text-align: center;
}
#jogo div {
  display: inline-block;
}

#opcoes_dezenas_dark {
  display: none;
}
#gerar_novos_numeros {
  background-color: #b8ff2a;
  border: none;
}
.legenda {
  font-size: 0.7rem;
  font-style: italic;
}

/* MEdia */
@media screen and (max-width: 1200px) {
  #opcoes_dezenas,
  #sobre_o_site_link {
    display: none;
  }
  #opcoes_dezenas_dark {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .numbers {
    line-height: 100px;
    width: 100px;
    font-size: 60px;
  }
  #recarregar_pagina {
    /* displays: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #aposte_ja {
    display: none;
  }
  .nome_loteria {
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 425px) {
  .nome_loteria {
    font-size: 2.2rem;
  }
  .nome_loteria > img {
    height: 50px;
  }
  .numbers {
    line-height: 100px;
    width: 100px;
    font-size: 60px;
  }

  #jogo {
    width: 90%;
  }
}
